Lib.Wpf/Connected Services/ADWebService/Authenticate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cych.org.tw/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cych.org.tw/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">透過 Active Directory Server，驗證使用者是否為 CYCH 網域用戶</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cych.org.tw/">
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmpUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmpUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsEmpUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsEmpUser" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsEmpUserResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserHttpGetIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
    <wsdl:part name="Pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserHttpPostIn">
    <wsdl:part name="UserId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsEmpUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="AdUserIdentifySoap">
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserSoapIn" />
      <wsdl:output message="tns:VerifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <wsdl:input message="tns:IsEmpUserSoapIn" />
      <wsdl:output message="tns:IsEmpUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdUserIdentifyHttpGet">
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifyHttpGetIn" />
      <wsdl:output message="tns:VerifyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserHttpGetIn" />
      <wsdl:output message="tns:VerifyUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <wsdl:input message="tns:IsEmpUserHttpGetIn" />
      <wsdl:output message="tns:IsEmpUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdUserIdentifyHttpPost">
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifyHttpPostIn" />
      <wsdl:output message="tns:VerifyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserHttpPostIn" />
      <wsdl:output message="tns:VerifyUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <wsdl:input message="tns:IsEmpUserHttpPostIn" />
      <wsdl:output message="tns:IsEmpUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdUserIdentifySoap" type="tns:AdUserIdentifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://www.cych.org.tw/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="http://www.cych.org.tw/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <soap:operation soapAction="http://www.cych.org.tw/IsEmpUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdUserIdentifySoap12" type="tns:AdUserIdentifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://www.cych.org.tw/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap12:operation soapAction="http://www.cych.org.tw/VerifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <soap12:operation soapAction="http://www.cych.org.tw/IsEmpUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdUserIdentifyHttpGet" type="tns:AdUserIdentifyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Verify">
      <http:operation location="/Verify" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <http:operation location="/VerifyUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <http:operation location="/IsEmpUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdUserIdentifyHttpPost" type="tns:AdUserIdentifyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Verify">
      <http:operation location="/Verify" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <http:operation location="/VerifyUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmpUser">
      <http:operation location="/IsEmpUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdUserIdentify">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">透過 Active Directory Server，驗證使用者是否為 CYCH 網域用戶</wsdl:documentation>
    <wsdl:port name="AdUserIdentifySoap" binding="tns:AdUserIdentifySoap">
      <soap:address location="http://webf.cych.org.tw/WebTeam/UserIdentify/Authenticate.asmx" />
    </wsdl:port>
    <wsdl:port name="AdUserIdentifySoap12" binding="tns:AdUserIdentifySoap12">
      <soap12:address location="http://webf.cych.org.tw/WebTeam/UserIdentify/Authenticate.asmx" />
    </wsdl:port>
    <wsdl:port name="AdUserIdentifyHttpGet" binding="tns:AdUserIdentifyHttpGet">
      <http:address location="http://webf.cych.org.tw/WebTeam/UserIdentify/Authenticate.asmx" />
    </wsdl:port>
    <wsdl:port name="AdUserIdentifyHttpPost" binding="tns:AdUserIdentifyHttpPost">
      <http:address location="http://webf.cych.org.tw/WebTeam/UserIdentify/Authenticate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>